body {
    background-color: rgb(236, 165, 132);
display: flex;
}

#wrap {
    width: 60%; 
    background-color: #f5f5dc; /* Cream background */
    padding: 20px;
    border: 5px dotted black; /* Outer dotted border */
    margin: 50px auto;
    text-align: center;
}

    h1 {
        font-family: fantasy;
        font-style: italic;
        font-size: 28px;
        text-align: center;
        padding: 0px;
        margin: 0 50px 20px; /* Space below header */
        border-bottom: 5px dotted black; /* Inner dotted border */
        border-width: 100%;
        background-color: #f5f5dc; /* Matching background */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

ul li::first-letter {
    font-size: 1.5em;
}