.odd {
    background-color: #ffb6c1;
    font-family: Verdana, Dejavu Sans, sans-serif;
}

#number2 {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.odd-cooler{
    font-size: 24px;
}

#number4 {
    background-color: hsl(120, 100%, 75%);
    font-size: 24px;
    font-weight: bold;
}